:root{
    --main-color:#023A2E;
    --secondary-color:#F9FFFF;
    --accent-color:#32645E;
    --accent-color-hover:#3b766f;
    --size-s:8px;
    --size-m:16px;
    --size-l:24px;
    --size-xl:32px;
    --border-radius-px:14px;
    --border-radius-percents:50%;
}
.params-item::-webkit-scrollbar {
    display: none;
    width: 10px;
}

.params-item::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

.params-item::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--accent-color-hover);
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background: url(images/back.jpg) no-repeat center /cover;
}
.root{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    overflow: hidden;
    padding: var(--size-xl) 0px;
    box-sizing: border-box;
}
.hidden{
    display: none!important;
}
h1{
    font-size: 80px;
    color: var(--secondary-color);
    margin: 0;
}
h2{
    font-size: 40px;
    color: var(--secondary-color);
    margin: 0;
}
h3{
    margin-top: 0;
    font-size: 20px;
}
#start-page, #result-page, #questions-page{
    display: flex;
    flex-direction: column;
    gap: var(--size-xl);
    align-items: center;
    max-height: 100%;
}
.params-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-height: calc(100% - 200px);
}
.params-item{
    width: 30%;
    background: var(--secondary-color);
    color: var(--main-color);
    padding: var(--size-l) 0;
    border-radius: 40px;
    box-sizing: border-box;
    overflow: auto;
}
.params-item div{
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
}
.params-item h3{
    padding: 0 var(--size-m);
}
.params-item p{
    font-size: 20px;
    margin: 0;
    padding: var(--size-s) var(--size-m);
    cursor: pointer;
    transition: 0.2s;
}
.active{
    background: var(--main-color);
    color: var(--secondary-color);
}
button{
    margin: 0;
    padding: var(--size-s) 0;
    background: var(--accent-color);
    color: var(--secondary-color);
    border: none;
    font-size: 40px;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Montserrat', sans-serif;
    border-radius: 14px;
    width: 30%;
    font-weight: 700;
}
button:hover{
    background: var(--accent-color-hover);
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px dotted #FFF;
    border-radius: var(--border-radius-percents);
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
    pointer-events: none;
    margin-top: var(--size-m);
}
.answer-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: var(--size-m);
    margin-top: var(--size-l);
}
.answer{
    padding: var(--size-l) var(--size-s);
    color: var(--secondary-color);
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Montserrat', sans-serif;   
    width: calc(50% - 16px);
    box-sizing: border-box;
    margin: 0;
    border-radius: var(--border-radius-px);
}
.answer:hover{
    background: var(--secondary-color);
    color: var(--main-color);
}
.active-answer{
    background: var(--secondary-color);
    color: var(--main-color);
}
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
.result-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-l);
}
.result-question{
    background: var(--secondary-color);
    color: var(--main-color);
    padding: var(--size-m);
    border-radius: var(--border-radius-px);
    width: 100%;
    box-sizing: border-box;
}
.result-cont p{
    font-size: 20px;   
}
.result-question-header, .user-answer, .right-answer{
    font-weight: bold;
}
.question-number{
    color: var(--secondary-color);
    font-size: 35px;
}
@media screen and (max-width:1200px){
    .root{
        height: auto;
        overflow: auto;
        min-height: 100vh;
        width: 95%;
    }
}
@media screen and (max-width:600px){
    h1{
        font-size: 55px;
    }
    button{
    font-size: 30px;
    padding: 15px;
    }
    .params-list{
        flex-direction: column;
        gap: var(--size-m);
    }
    .params-item{
        width: 100%;
        border-radius: var(--border-radius-px);
    }
    .root{
        width: 100%;
        padding: var(--size-xl) var(--size-m);
    }
    section{
        width: 100%;
    }
    button{
        width: 100%;
    }
    .answer-list{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .answer{
        width: 100%;
    }
}